@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library Management Program</h1>
    <p>Learn about <a>Easy Lend books by Georgi Dragomirov 16550</a>.</p>
</div>
